/*set the fixed background image
	the body has height and width of 100%
	with no mergin*/
    body, html {
        margin: 0;
        background:url(main_background.jpg) top right no-repeat;
        background-attachment:fixed;
      
        /* Full height*/
        height: 100%;
        width:100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
        font-family: 'Roboto Mono';
      }
      
      .header{
        padding: 0.75%;
        height: 6%;
        background-color: rgba(70, 100, 198);
        z-index: 1 !important;
      }
      
      .header-button-left{
        margin-left: 8%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: row;
      }
      
      .header-button-right{
        margin-left: 8%;
        height: 100%;
        float: right;
        display: flex;
        flex-direction: row;
        margin-right: 30px;
      }
      
      .top-button{
        background-color:  rgba(70, 100, 198);
        font-weight: bold;
        font-size: 15px;
        color:white;
        outline: none;
        border: none;
        height: 100%;
        margin-right: 10px;
      }
      .top-button:hover{
        color: rgb(196, 186, 186);
      }
      /*==================================================================*/
      /* Change the color of links on hover
      set the opacity of the navigation bar */
      /*button for user to login/logout*/
      .main_button{
        opacity: 0.9;
        display: inline-block;
        color: #fff;
        float: center;
        width: 120px;
        height: 40px;
        margin: 10px;

        background: #4664C6;
        border-radius: 10px;
      
        outline: none;
        border: none;
      
        cursor: pointer;
        text-align: center;
        font-size:18px;
        transition: all 0.2s linear;
      }
      /*
      .main_button:hover[enabled]{
        width: 140px;
        height: 50px;
        font-size: 20px;
      }*/
      
      .main_button[disabled]{
        opacity: 0.3;
      }
      
      /*================================================================*/
      a{
        text-decoration: none;
      }
      /*==================================================================*/
      .avatar{
        width:100%;
        height:40%;
        text-align: center;
        display: block;
        
      }
      
      .avatarImg{
        margin: 8%;
        margin-bottom: auto;
        border-radius: 50%;
        max-width: 70%;
        max-height: 70%;
      }
      
      #username{
        width: 100%;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        position: relative;
        padding-bottom: 40%;
      }
      /*==================================================================*/
      @media screen and (max-width: 800px) {
        .sidenav{
          height: 70px;
          width: 70px;
        }
      
        .sidenav a{
          padding:8px 32px 8px 22px !important;
        }
        .content{
          margin-left: 70px !important;
        }
      
        .iconLink{
          display: none !important;
        }
      
        #username{
          display: none;
        }
      
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
      /*@media screen and (max-width: 550px) {
        .sidenav{
          width:100%;
        }
      
        .sidenav a{
          width:100%;
        }
      
        .iconLink{
          display: inline-block !important;
          font-size: 25px;
        }
      
        .content{
          display: none !important;
        }
      }*/
      
      /*===================================================================*/
      .sidenav{
        float: left;
        height: fit-content;
        weight: fit-content;
        max-width: 220px;
        position: relative;
        top: 0;
        left: 0;
        background-color: #e9effb;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 30px;
        z-index: 2;
      }
      
      /* The navigation menu links */
      .sidenav a, .dropdown-btn{
        vertical-align: middle;
        padding:8px 32px 8px 32px;
        width: 100%; 
        background-color: #e9effb;
        text-decoration: none;
        font-size: 1.2vw;
        color: black;
        display: block;
        transition: 0.3s;
        border: none;
        cursor: pointer;
        outline: none;
      }

      .dropdown-btn{
        height:70px;
        text-align: left;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidenav a:hover, .dropdown-btn:hover{
        color: #f1f1f1 !important;
        background-color: #8c95a1 !important;
      }
      
      .icon{
        display: inline;
        vertical-align: middle;
        margin-right: 10px;
        height: 25px;
        width: 25px;
      }
      
      .iconLink{
        display: inline-block;
        vertical-align: middle;
      }

      .active {
        background-color: #8c95a1;
        color: white;
      }
      
      /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
      .dropdown-container {
        background: #a6b1c0;
        float: left;
        display:none;
      }

      /* Optional: Style the caret down icon */
      .fa-caret-down {
        float: right;
        padding-right: 8px;
      }

      /*===================================================================*/
      .heading{
        padding-left: 18%;
      }
      
      .container{
        z-index: 0;
        height: auto;
        width: 100%
        top: 0;
        right: 0;
        background-color: #e9effb;
        overflow-x: hidden;
        padding: 10px;
        margin: 30px;
        margin-left: 18%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      
      .content{
        margin-left: 200px; /* Same as the width of the sidenav */
        padding: 0px 10px;
      }
      
      /*=====================================================================*/
      input{
        padding: 5px;
        border-radius: 5px;
        height: 20%;
        width: 80%;
        margin: 10px;
        font-size: 15px;
      }

      #edit_profile {
        display: none;
      }
      
      #edit_button{
        height: 20px;
        width: 20px;
        float: right;
        padding-top: 1.5%;
      }
      
      input[type=submit]{
        height: 30px;
        width: 120px;
        background-color: rgb(41, 145, 243);
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 10px;
      }
      
      input[type=submit]:hover{
        color: rgb(41, 145, 243);
        background-color:black;
      }
      
      .cancelBtn{
        height: 30px;
        width: 70px;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: rgb(247, 62, 62);
        transition: 0.3s;
      
      }
      
      .cancelBtn:hover{
        color:rgb(247, 62, 62);
        background-color: black;
      
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      
      